# flask
# numpy
# pillow
# reportlab
# opencv-python-headless
# tensorflow==1.15.0
flask
numpy
pillow
reportlab
opencv-python-headless
tensorflow==1.15.0
svgwrite
scipy
matplotlib
h5py
scikit-learn
pandas
protobuf==3.20.0